In [17]:
# Loading the dataset using pandas

import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')

In [18]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

#Summary statistics using .describe()

In [20]:
df.describe(
    include= 'all'
)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [21]:
# Checking if missing data or null values are present in the dataset
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [22]:
# Imputing missing values in Review Rating column with the median rating of the product category

df['Review Rating'] =df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [23]:

df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [28]:
# Renaming columns according to snake casing for better readability and documentation

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount' })

In [30]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [31]:
# create a new column age_group
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [34]:

df[['age','age_group']].head(15)

    age    age_group
0    55  Middle-aged
1    19  Young Adult
2    50  Middle-aged
3    21  Young Adult
4    45  Middle-aged
5    46  Middle-aged
6    63       Senior
7    27  Young Adult
8    26  Young Adult
9    57  Middle-aged
10   53  Middle-aged
11   30  Young Adult
12   61       Senior
13   65       Senior
14   64       Senior

In [35]:
# create column purchase_frequency_days
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [36]:

df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [37]:

df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [38]:

df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [39]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [40]:
# Dropping promo code used column

df = df.drop('promo_code_used', axis=1)

In [41]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

# Connecting Python script MySQL

In [42]:
pip install mysql-connector-python pymysql sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: sqlalchemy in c:\users\mahesh\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mahesh\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mahesh\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 856.8 kB/s eta 0:00:19
   - -------------------------------------- 0.5/16.5 MB 856.8 kB/s eta 0:00:19
   - -------------------------------------- 0.5/16.5 MB 856.8 kB/s eta 0:00:19
   - -------------------------------------- 0.8/16.5 MB 506.2 kB/s eta 0:00:32
   - -------------------------------------- 0.8/16.5 MB 506.2 kB/s eta 0:00:32
   -- ------------------------------------- 1.0/16.5 MB 593.7 kB/s eta 0:00:27
   --- ------------------------------------ 1.3/16.5 MB 669.0 kB/s eta 0:00:23
   --- ------------------------------------ 1.6/16.5 MB 739.1 kB/s eta 0:00:21
   --- ------------------------------------ 1.6/16.5 MB 739.1 kB/s eta 0:00:21
   --- ------------------------------------ 1.6/16.5 MB 739.1 kB/s eta 0:00:21
   ---- ----------------------------------- 1.8/16.5 MB 638.7 kB/s eta 0:00:23
   ---- ----------------------------------- 1.8/16.5 MB 638.7 kB/s eta 0:00:23
   ----- ---------------------------------- 2.1/16.5 MB 636.8 kB/s eta 0:00:23
   ----- ---------------------------------- 2.1/16.5 MB 636.8 kB/s eta 0:00:23
   ----- ---------------------------------- 2.4/16.5 MB 649.8 kB/s eta 0:00:22
   ------ --------------------------------- 2.6/16.5 MB 681.3 kB/s eta 0:00:21
   ------ --------------------------------- 2.9/16.5 MB 714.7 kB/s eta 0:00:20
   -------- ------------------------------- 3.4/16.5 MB 784.1 kB/s eta 0:00:17
   -------- ------------------------------- 3.7/16.5 MB 811.2 kB/s eta 0:00:16
   --------- ------------------------------ 3.9/16.5 MB 831.5 kB/s eta 0:00:16
   ---------- ----------------------------- 4.2/16.5 MB 856.3 kB/s eta 0:00:15
   ---------- ----------------------------- 4.5/16.5 MB 881.1 kB/s eta 0:00:14
   ------------ --------------------------- 5.0/16.5 MB 930.1 kB/s eta 0:00:13
   ------------ --------------------------- 5.2/16.5 MB 941.6 kB/s eta 0:00:12
   ------------- -------------------------- 5.5/16.5 MB 953.4 kB/s eta 0:00:12
   ------------- -------------------------- 5.8/16.5 MB 962.1 kB/s eta 0:00:12
   -------------- ------------------------- 6.0/16.5 MB 971.5 kB/s eta 0:00:11
   -------------- ------------------------- 6.0/16.5 MB 971.5 kB/s eta 0:00:11
   --------------- ------------------------ 6.3/16.5 MB 978.2 kB/s eta 0:00:11
   --------------- ------------------------ 6.6/16.5 MB 975.1 kB/s eta 0:00:11
   ---------------- ----------------------- 6.8/16.5 MB 972.7 kB/s eta 0:00:10
   ----------------- ---------------------- 7.1/16.5 MB 984.2 kB/s eta 0:00:10
   ----------------- ---------------------- 7.3/16.5 MB 996.3 kB/s eta 0:00:10
   ------------------- -------------------- 7.9/16.5 MB 1.0 MB/s eta 0:00:09
   ------------------- -------------------- 8.1/16.5 MB 1.0 MB/s eta 0:00:09
   -------------------- ------------------- 8.4/16.5 MB 1.0 MB/s eta 0:00:08
   -------------------- ------------------- 8.7/16.5 MB 1.0 MB/s eta 0:00:08
   -------------------- ------------------- 8.7/16.5 MB 1.0 MB/s eta 0:00:08
   --------------------- ------------------ 8.9/16.5 MB 1.0 MB/s eta 0:00:08
   --------------------- ------------------ 8.9/16.5 MB 1.0 MB/s eta 0:00:08
   ---------------------- ----------------- 9.2/16.5 MB 1.0 MB/s eta 0:00:08
   ---------------------- ----------------- 9.4/16.5 MB 1.0 MB/s eta 0:00:07
   ---------------------- ----------------- 9.4/16.5 MB 1.0 MB/s eta 0:00:07
   ----------------------- ---------------- 9.7/16.5 MB 1.0 MB/s eta 0:00:07
   ------------------------ --------------- 10.0/16.5 MB 1.0 MB/s eta 0:00:07
   ------------------------ --------------- 10.2/16.5 MB 1.0 MB/s eta 0:00:07
   ------------------------- -------------- 10.5/16.5 MB 1.0 MB/s eta 0:00:06
   -------------------------- ------------- 10.7/16.5 MB 1.0 MB/s eta 0:00:06
   -------------------------- ------------- 11.0/16.5 MB 1.0 MB/s eta 0:00:06
   --------------------------- ------------ 11.3/16.5 MB 1.0 MB/s eta 0:00:06
   --------------------------- ------------ 11.5/16.5 MB 1.0 MB/s eta 0:00:05
   ----------------------------- ---------- 12.1/16.5 MB 1.1 MB/s eta 0:00:05
   ----------------------------- ---------- 12.3/16.5 MB 1.1 MB/s eta 0:00:04
   ------------------------------- -------- 12.8/16.5 MB 1.1 MB/s eta 0:00:04
   ------------------------------- -------- 13.1/16.5 MB 1.1 MB/s eta 0:00:04
   --------------------------------- ------ 13.6/16.5 MB 1.1 MB/s eta 0:00:03
   --------------------------------- ------ 13.9/16.5 MB 1.1 MB/s eta 0:00:03
   ---------------------------------- ----- 14.2/16.5 MB 1.1 MB/s eta 0:00:03
   ---------------------------------- ----- 14.4/16.5 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 14.4/16.5 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 14.7/16.5 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 14.9/16.5 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 15.2/16.5 MB 1.1 MB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.5 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 1.1 MB/s eta 0:00:00
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql, mysql-connector-python

   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   -------------------- ------------------- 1/2 [mysql-connector-python]
   ---------------------------------------- 2/2 [mysql-connector-python]

Successfully installed mysql-connector-python-9.5.0 pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\mahesh\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\mahesh\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\mahesh\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mahesh\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mahesh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mahesh\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mahesh\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mahesh\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mahesh\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\mahesh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError

# --- 1. Database Connection Parameters (URL Encoding Applied) ---
username = "root"
# FIX: The '@' symbol in the password ('JMBkushi@6') is replaced with '%40' 
# to prevent the connection string parser from misinterpreting the host.
password = "JMBkushi%406" 
host = "127.0.0.1" # Using IP address (127.0.0.1) for maximum stability
port = "3306"
database = "mydb"
table_name = "customer" 
csv_file = 'customer_shopping_behavior.csv' 

# --- 2. Create the SQLAlchemy Engine ---
# Format: dialect+driver://user:pass@host:port/db
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# --- 3. Execution Block ---
try:
    # Read the data from the CSV file
    print(f"Loading data from '{csv_file}'...")
    df = pd.read_csv(csv_file)
    print(f"Data loaded successfully. DataFrame has {len(df)} rows.")

    # Write the DataFrame to the MySQL table
    print(f"\nAttempting to connect and write data to table '{table_name}'...")
    df.to_sql(table_name, engine, if_exists="replace", index=False)
    print(f"ðŸš€ Success! Data written to table '{table_name}'.")

    # Read back a sample for verification
    print("\n--- Verification Sample (first 5 rows) ---")
    df_sample = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5;", engine)
    print(df_sample.to_markdown(index=False))
    print("---------------------------------------")

except OperationalError as e:
    # This block is less likely to run now that the password is encoded
    print("\nâŒ CRITICAL CONNECTION ERROR (OperationalError)")
    print(f"The encoded password fix did not work. Error: {e}")
    
except Exception as e:
    print(f"\nâŒ An unexpected error occurred: {type(e).__name__} - {e}")

Loading data from 'customer_shopping_behavior.csv'...
Data loaded successfully. DataFrame has 3900 rows.

Attempting to connect and write data to table 'customer'...
ðŸš€ Success! Data written to table 'customer'.

--- Verification Sample (first 5 rows) ---
|   Customer ID |   Age | Gender   | Item Purchased   | Category   |   Purchase Amount (USD) | Location      | Size   | Color     | Season   |   Review Rating | Subscription Status   | Shipping Type   | Discount Applied   | Promo Code Used   |   Previous Purchases | Payment Method   | Frequency of Purchases   |
|--------------:|------:|:---------|:-----------------|:-----------|------------------------:|:--------------|:-------|:----------|:---------|----------------:|:----------------------|:----------------|:-------------------|:------------------|---------------------:|:-----------------|:-------------------------|
|             1 |    55 | Male     | Blouse           | Clothing   |                      53 | Kentucky      | L      | Gray      | Winter   |             3.1 | Yes                   | Express         | Yes                | Yes               |                   14 | Venmo            | Fortnightly              |
|             2 |    19 | Male     | Sweater          | Clothing   |                      64 | Maine         | L      | Maroon    | Winter   |             3.1 | Yes                   | Express         | Yes                | Yes               |                    2 | Cash             | Fortnightly              |
|             3 |    50 | Male     | Jeans            | Clothing   |                      73 | Massachusetts | S      | Maroon    | Spring   |             3.1 | Yes                   | Free Shipping   | Yes                | Yes               |                   23 | Credit Card      | Weekly                   |
|             4 |    21 | Male     | Sandals          | Footwear   |                      90 | Rhode Island  | M      | Maroon    | Spring   |             3.5 | Yes                   | Next Day Air    | Yes                | Yes               |                   49 | PayPal           | Weekly                   |
|             5 |    45 | Male     | Blouse           | Clothing   |                      49 | Oregon        | M      | Turquoise | Spring   |             2.7 | Yes                   | Free Shipping   | Yes                | Yes               |                   31 | PayPal           | Annually                 |
---------------------------------------